{% extends 'base.html' %}
{% block title %}
Post haqida batafsil | {{block.super}}
{% endblock title %}

{% block content %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Portfolio -->
								<center>
									<section>
										<header class="major">
											<h2>Jurnallar</h2>
										</header>
										<div class="row">
												<section class="box">
													<img style="height: 50%;width:50%" src="{{object.rasm.url}}" class="card-img-top" alt="...">
													<div class="card-body">
													<header>
														<h2>{{ object.nomi }}</h2>
													</header>
													<h4>{{ object.maqola_soni }}</h4>
													<h6>{{ object.batafsil }}</h6>
													<p>{{ object.sana }}</p>
													<footer>
														<ul class="actions">
															<li><a href="/" class="button alt">Asosiy</a></li>
														</ul>
													</footer>
													</div>
												</section>	
										</div>
									</section>
								</center>
								
							</div>
							{% endblock content %}
						</div>
					</div>
				</section>
				
		</div>
		
	</body>
</html>
