{% extends 'base.html' %}
{% block title %}
Jurnal tahrir hay'ati | {{block.super}}
{% endblock title %}

{% block content %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Portfolio -->
								<center>
									<section>
										<header class="major">
											<h2>Jurnal tahrir hay'ati</h2>
										</header>
										<div class="row">
												<section class="box">
													
													<div class="card-body">
													<header>
														<div class="entry-content">
															<p style="text-align: center;"><strong>TAHRIRIYAT HAY’ATI:</strong></p>
													<p style="text-align: center;">Bosh muharrir –&nbsp;fizika-matematika fanlari nomzodi, dotsent <strong>BAZAROV O.Sh.</strong></p>
													<p style="text-align: center;">Bosh muharrir o‘rinbosari – texnika fanlari nomzodi, dotsent <strong>BOTIROV</strong> <strong>Z</strong><strong>.</strong><strong>L</strong><strong>.</strong></p>
													<p style="text-align: center;">Mas’ul kotib – qishloq xo‘jaligi&nbsp; fanlari nomzodi, professor&nbsp;<strong>AVLAKULOV M.</strong></p>
													<p style="text-align: center;"><strong>TAHRIRIYAT HAY’ATI A’ZOLARI </strong><strong>:</strong></p>
													<table width="650">
													<tbody>
													<tr>
													<td width="196"><strong>AGZAMOV A.X.</strong></td>
													<td width="454">QarMII “Neft va gaz konlarini ishga tushirish va ulardan foydalanish” kafedrasi professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>ALIQULOV&nbsp; S.R.</strong></td>
													<td width="454">QarMII “Umumtexnika fanlari” kafedrasi professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>BAKIYEV M.R.</strong></td>
													<td width="454">Toshkent irrigatsiya va qishioq x о‘jaligini mexanizatsiyalatirish muhandislari instituti “Gidrotexnika inshootlari va injenerlik konstruksiyalari” kafedrasi mudiri, t.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>ERGASHEV A.X.</strong></td>
													<td width="454">QarMII “Texnologik jarayonlarni avtomatlashtirish va boshqarish” kafedrasi professori, i.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>ERGASHEV I.T.</strong></td>
													<td width="454">Samarqand veterinariya instituti professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>ERGASHEV </strong><strong>R</strong><strong>.X.</strong></td>
													<td width="454">QarMII “Iqtisodiyot” kafedrasi professori, i.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>ERGASHEVA Y.A.</strong></td>
													<td width="454">QarMII “О‘zbekiston tarixi” kafedrasi mudiri, , t.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>ERKAYEV A.U.</strong></td>
													<td width="454">Toshkent kimyo texnologiya instituti “Noorganik texnologiyalar” kafedrasi professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>HAMIDOV M.X.</strong></td>
													<td width="454">Toshkent irrigatsiya va qishioq x о‘jaligini mexanizatsiyalatirish muhandislari instituti professori, q.x.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>IGAMBERDIEV&nbsp; X.Z.</strong></td>
													<td width="454">Toshkent davlat texnika universiteti professori, t.f.d., O’zR FA akademigi</td>
													</tr>
													<tr>
													<td width="196"><strong>MAMATOV F.M.</strong></td>
													<td width="454">QarMII “Qishloq xо‘jaligini mexanizatsiyalash” kafedrasi professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>MAXMUDOV&nbsp; I.E.</strong></td>
													<td width="454">О‘zbekiston Fanlar Akademiyasi qoshidagi irrigatsiya va suv muammolari ilmiy-tadqiqot instituti direktori, t.f.d., professor</td>
													</tr>
													<tr>
													<td width="196"><strong>MUHAMMADIYEV M.M.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></td>
													<td width="454">Toshkent davlat texnika universiteti «Gidravlika va gidroenergetika» kafedrasi mudiri, t.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>MUHIDDINOV J.N.</strong></td>
													<td width="454">Toshkent davlat texnika universiteti professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>RAXMATOV M .I.</strong></td>
													<td width="454">QarMII ilmiy va ilmiy-pedagog kadrlar tayyorlash bо‘limi boshlig‘i, t.f.n., dotsent.</td>
													</tr>
													<tr>
													<td width="196"><strong>TО‘RAYEV H.</strong></td>
													<td width="454">Termez davlat universiteti professori, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>UZOQOV G‘.N.</strong></td>
													<td width="454">QarMII “Issiqlik energetikasi” kafedrasi mudiri, t.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>XURRAMOV A.F.</strong></td>
													<td width="454">QarMII&nbsp; Iqtisodiyot fakulteti dekani, i.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>XO’JAYOROV B.X.</strong></td>
													<td width="454">Samarqand davlat universiteti kafedra mudiri, f.m.f.d., professor.</td>
													</tr>
													<tr>
													<td width="196"><strong>ZOKIROV A.O.</strong></td>
													<td width="454">&nbsp;“Central Asian Enterprises” kompaniyasining&nbsp;&nbsp;&nbsp; О‘zbekistondagi vakilligida kon qazish geologi, t.f.d.</td>
													</tr>
													<tr>
													<td width="196"><strong>ZOXIDOV R.A.</strong></td>
													<td width="454">О‘zbekiston Respublikasi Fanlar akademiyasi Energetika va avtomatika instituti laboratoriya mudiri, O’zR FA akademigi.</td>
													</tr>
													<tr>
													<td width="196"><strong>SHODIYEV R.D.</strong></td>
													<td width="454">Qarshi davlat universiteti “Pedagogika” kafedrasi mudiri, p.f.d., professor.</td>
													</tr>
													</tbody>
													</table>
													<table>
													<tbody>
													<tr>
													<td width="208">Muharrir:<p></p>
													<p>Texnik muharrir:</p></td>
													<td width="262">Avlakulov M.<p></p>
													<p>Sidiqov G’.O.</p></td>
													</tr>
													</tbody>
													</table>
																</div>
													</header>
													
														<ul class="actions">
															<li><a href="/" class="button alt">Asosiy</a></li>
														</ul>
													</footer>
													</div>
												</section>	
										</div>
									</section>
								</center>
								
							</div>
							{% endblock content %}
						</div>
					</div>
				</section>
				
		</div>
		
	</body>
</html>