{% extends 'base.html' %}
{% block title %}
Biz haqimizda | {{block.super}}
{% endblock title %}

{% block content %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Portfolio -->
								<center>
									<section>
										<header class="major">
											<h2>Jurnal haqida</h2>
										</header>
										<div class="row">
												<section class="box">
													<div class="card-body">
													<header>
														<div class="vc_column-inner vc_custom_1529651745809"><div class="wpb_wrapper">
															<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1552112109368 wpb_start_animation animated">
																<div class="wpb_wrapper">
																	<p>“Innovatsion texnologiyalar” jurnali 2010 yilning 4 oktabrida&nbsp; Qashqadaryo viloyati matbuot va axborot boshqarmasi tomonidan berilgan 14-063 raqamli guvohnoma asosida rо‘yxatga olingan.</p>
														<p>Jurnal о‘z faoliyatini 2011 yilning yanvar oyidan boshlagan bо‘lib, hozirgi kungacha jurnalning jami 33 ta soni chop etildi.</p>
														<p>Jurnal ishini dastlab tashkil etish, uni tegishli materiallar bilan boyitish, qiziqarli va dolzarb ilmiy muammolarga bag‘ishlangan maqolalarni yig‘ish, ularni sahifalarga joylashtirish, tahrir etish ishlarida professorlar Mamatov F.M., Uzoqov G‘.N., &nbsp;dotsentlar Uzoqov Z.U., Raxmatov M.I. &nbsp;ning xizmatlari katta.</p>
														<p>2014 yildan boshlab jurnal ruknlariga qisman о‘zgartirishlar kiritildi, uning dizayni о‘zgardi va tahririyat a’zolarining soni hamda sifati oshib bordi.</p>
														<p>Hozirgi kunda faoliyat olib borayotgan jurnal tahririyat a’zolari safida akademiklar, respublikamizning nufuzli oliy ta’lim muassasalari, ilmiy-tadqiqot institutlarida faoliyat yuritayotgan yetuk professorlar, fan doktorlari ishtirok etib kelmoqdalar.</p>
														<p>Chop etilayotgan materiallarning aksariyati neft-gaz, kimyo, energetika va iqtisodiyot, yer tо‘g‘risidagi fanlar, ta’lim va axborot texnologiyalariga bag‘ishlangan dolzarb muammolarni о‘z ichiga olgan maqolalar hisoblanadi.</p>
														<p>Berilayotgan maqolalar tarkibida nafaqat institut xodimlari, balki Respublikamizning oliy ta’lim muassasalari va ilmiy-tadqiqot institutlari va xorijiy mamlakatlar olimlarining ham ilmiy ishlari natijalari chop etib kelinmoqda.</p>
														<p>Amalga oshо‘irilgan barcha mehnatlarimizning mahsuli sifatida shuni ta’kidlash joizki, jurnalimiz 2019 yilning yanvaridan boshlab О‘zbekiston Respublikasi&nbsp; Oliy Attestatsiya Komissiyasi e’tirof etgan jurnallar safiga kirdi.</p>
														<p>Jurnal tahririyati ushbu bildirilgan yuksak ishonchni oqlash maqsadida barcha imkoiyatlarni ishga soladi, &nbsp;jurnalni mazmunan va shaklan takomillashtirishda о‘z mehnati va shijoatini ayamaydi.</p>
														<p>&nbsp;</p>
														<p><strong>О ЖУРНАЛЕ “ИННОВАЦИОНН</strong><strong>ЫЕ</strong><strong> ТЕХНОЛОГИИ”</strong></p>
														<p>&nbsp;</p>
														<p>Журнал “Инновационные технологии” был основан в 2010 году в соотвествии с выданным сетрификатом за номером 14-063 Кашкадарьинским областным управлением&nbsp;&nbsp; по печати и информации.</p>
														<p>Журнал начал свою деятельность с января 2011 года и до сегодняшнего дня были изданы всего 33 номера.</p>
														<p>В период организации работ по подготвке к изданию, при подборке материалов, сборе и корректировке их внесли свои труды профессора Маматов Ф.М., Узаков Г.Н., доценты Узаков З.У., Рахматов М.И.</p>
														<p>Начиная с 2014 года были внесены некоторые изменения и дополнения в рубрики журнала, изменен дизайн и состав редакционной коллегии, т.е. состав был дополнен как в количественном, так и в качественном аспекте.</p>
														<p>В составе редакционной коллегии, которая ведет свою деятельность, в настоящее время имеются академики,ведущие доктора наук и профессора престижных высших учебных завдений и научно-исследовательских институтов.</p>
														<p>Печатываемые материалы в основном посвящены актуальным научным проблемам в области нефте-газа, химии, энергетики и экономике, науке о земле, образованию и информационных технологий.</p>
														<p>Среди издавемых статей имеются нетолько научные статьи сотрудников института, но и статьи ученых, научных сотрудников стран СНГ, а также дальнего зарубежья.</p>
														<p>Положительным результатом нашего плодотворного труда можно отметить то, что с января 2019 года наш журнал вошел в список журналов, признанных &nbsp;Высшей Аттестационной Комиссией Республики Узбекистан.</p>
														<p>Редакция журнала “Инновационные технологии”&nbsp; будет изыскать все возможности, чтобы оправдать доверие, стремится и в дальнейшем улучшить содержание и форму журнала.</p>
														<p><strong>Ответственный секретарь журнала</strong></p>
														<p><strong>“Инновационные технологии” :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; проф. М.Авлакулов</strong></p>
														
																</div>
															</div>
														</div></div>
													</header>
													
														<ul class="actions">
															<li><a href="/" class="button alt">Asosiy</a></li>
														</ul>
													</footer>
													</div>
												</section>	
										</div>
									</section>
								</center>
								
							</div>
							{% endblock content %}
						</div>
					</div>
				</section>
				
		</div>
		
	</body>
</html>
